/backend/dotnet-service/.vs/dotnet-service/config/applicationhost.config
/backend/dotnet-service/.vs/dotnet-service/DesignTimeBuild/.dtbcache.v2
/backend/dotnet-service/.vs/dotnet-service/FileContentIndex/535bc824-6847-4a99-9dee-576d3d89416d.vsidx
/backend/dotnet-service/.vs/dotnet-service/FileContentIndex/80c8183d-a8c8-4808-8309-3bc9f23456b9.vsidx
/backend/dotnet-service/.vs/dotnet-service/FileContentIndex/85b7ea98-6a87-479e-8774-c4c6c279ba42.vsidx
/backend/dotnet-service/.vs/dotnet-service/FileContentIndex/b512320c-868c-4ab7-a1ca-6d1a73e48775.vsidx
/backend/dotnet-service/.vs/dotnet-service/FileContentIndex/read.lock
/backend/dotnet-service/.vs/dotnet-service/v17/.suo
/backend/dotnet-service/bin/Debug/net7.0/appsettings.Development.json
/backend/dotnet-service/bin/Debug/net7.0/appsettings.json
/backend/dotnet-service/bin/Debug/net7.0/AutoMapper.dll
/backend/dotnet-service/bin/Debug/net7.0/AutoMapper.Extensions.Microsoft.DependencyInjection.dll
/backend/dotnet-service/bin/Debug/net7.0/dotnet-service.deps.json
/backend/dotnet-service/bin/Debug/net7.0/dotnet-service.dll
/backend/dotnet-service/bin/Debug/net7.0/dotnet-service.exe
/backend/dotnet-service/bin/Debug/net7.0/dotnet-service.pdb
/backend/dotnet-service/bin/Debug/net7.0/dotnet-service.runtimeconfig.json
/backend/dotnet-service/bin/Debug/net7.0/Humanizer.dll
/backend/dotnet-service/bin/Debug/net7.0/Microsoft.AspNetCore.OpenApi.dll
/backend/dotnet-service/bin/Debug/net7.0/Microsoft.EntityFrameworkCore.Abstractions.dll
/backend/dotnet-service/bin/Debug/net7.0/Microsoft.EntityFrameworkCore.Design.dll
/backend/dotnet-service/bin/Debug/net7.0/Microsoft.EntityFrameworkCore.dll
/backend/dotnet-service/bin/Debug/net7.0/Microsoft.EntityFrameworkCore.Relational.dll
/backend/dotnet-service/bin/Debug/net7.0/Microsoft.Extensions.DependencyModel.dll
/backend/dotnet-service/bin/Debug/net7.0/Microsoft.OpenApi.dll
/backend/dotnet-service/bin/Debug/net7.0/Mono.TextTemplating.dll
/backend/dotnet-service/bin/Debug/net7.0/Npgsql.dll
/backend/dotnet-service/bin/Debug/net7.0/Npgsql.EntityFrameworkCore.PostgreSQL.dll
/backend/dotnet-service/bin/Debug/net7.0/Swashbuckle.AspNetCore.Swagger.dll
/backend/dotnet-service/bin/Debug/net7.0/Swashbuckle.AspNetCore.SwaggerGen.dll
/backend/dotnet-service/bin/Debug/net7.0/Swashbuckle.AspNetCore.SwaggerUI.dll
/backend/dotnet-service/bin/Debug/net7.0/System.CodeDom.dll
/backend/dotnet-service/obj/Debug/net7.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
/backend/dotnet-service/obj/Debug/net7.0/apphost.exe
/backend/dotnet-service/obj/Debug/net7.0/dotnet-service.AssemblyInfo.cs
/backend/dotnet-service/obj/Debug/net7.0/dotnet-service.AssemblyInfoInputs.cache
/backend/dotnet-service/obj/Debug/net7.0/dotnet-service.assets.cache
/backend/dotnet-service/obj/Debug/net7.0/dotnet-service.csproj.AssemblyReference.cache
/backend/dotnet-service/obj/Debug/net7.0/dotnet-service.csproj.BuildWithSkipAnalyzers
/backend/dotnet-service/obj/Debug/net7.0/dotnet-service.csproj.CopyComplete
/backend/dotnet-service/obj/Debug/net7.0/dotnet-service.csproj.CoreCompileInputs.cache
/backend/dotnet-service/obj/Debug/net7.0/dotnet-service.csproj.FileListAbsolute.txt
/backend/dotnet-service/obj/Debug/net7.0/dotnet-service.dll
/backend/dotnet-service/obj/Debug/net7.0/dotnet-service.GeneratedMSBuildEditorConfig.editorconfig
/backend/dotnet-service/obj/Debug/net7.0/dotnet-service.genruntimeconfig.cache
/backend/dotnet-service/obj/Debug/net7.0/dotnet-service.GlobalUsings.g.cs
/backend/dotnet-service/obj/Debug/net7.0/dotnet-service.MvcApplicationPartsAssemblyInfo.cache
/backend/dotnet-service/obj/Debug/net7.0/dotnet-service.MvcApplicationPartsAssemblyInfo.cs
/backend/dotnet-service/obj/Debug/net7.0/dotnet-service.pdb
/backend/dotnet-service/obj/Debug/net7.0/ref/dotnet-service.dll
/backend/dotnet-service/obj/Debug/net7.0/refint/dotnet-service.dll
/backend/dotnet-service/obj/Debug/net7.0/staticwebassets.build.json
/backend/dotnet-service/obj/Debug/net7.0/staticwebassets/msbuild.build.dotnet-service.props
/backend/dotnet-service/obj/Debug/net7.0/staticwebassets/msbuild.buildMultiTargeting.dotnet-service.props
/backend/dotnet-service/obj/Debug/net7.0/staticwebassets/msbuild.buildTransitive.dotnet-service.props
/backend/dotnet-service/obj/dotnet-service.csproj.nuget.dgspec.json
/backend/dotnet-service/obj/dotnet-service.csproj.nuget.g.props
/backend/dotnet-service/obj/dotnet-service.csproj.nuget.g.targets
/backend/dotnet-service/obj/project.assets.json
/backend/dotnet-service/obj/project.nuget.cache
*.vsidx
/backend/dotnet-service/.vs/dotnet-service/FileContentIndex/1a137ea1-85d1-4c14-95b8-0061adca7225.vsidx
/backend/dotnet-service/.vs/dotnet-service/FileContentIndex/3aa53aa2-1d9e-4231-8238-9809c7db8c78.vsidx
/backend/dotnet-service/.vs/dotnet-service/v17/.futdcache.v2
/backend/dotnet-service/.vs/ProjectEvaluation/dotnet-service.metadata.v6.1
/backend/dotnet-service/.vs/ProjectEvaluation/dotnet-service.projects.v6.1
/backend/dotnet-service/dotnet-service.csproj
/backend/dotnet-service/dotnet-service.csproj.user
/backend/dotnet-service/obj/dotnet-service.csproj.EntityFrameworkCore.targets
