$primary-color: #C535EC;
$primary-color-opaque: rgba(197, 53, 236, .7);
$secondary-color: #36DC9A;
$secondary-color-opaque: rgba(54, 220, 154, .5);

$background-color-white: #FAFAFA;
$background-color-dark: #242424;

$font-size-xl: 55px;
$font-size-big: 40px;
$font-size-big-medium: 35px;
$font-size-medium: 30px;
$font-size-medium-small: 18px;
$font-size-small: 12px;

$padding-xl: 55px;
$padding-big: 40px;
$padding-medium: 25px;
$padding-small: 15px;

$border-radius-big: 30px;
$border-radius-medium: 20px;
$border-radius-small: 12px;